body
{
    background-image: url('img.jpg');
    background-size:cover;

}
h1
{
    font-size: 45px;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.Registration-form {
    background-color: #0486ffc0;
    padding: 50px;
    border-radius: 20px;
    border: #ffffffe0 10px solid;
    box-shadow: 0 30px 30px rgba(1, 234, 243, 0.9);
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    
}   
input{
    text-align: left;
    padding : 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button.reset {
    background-color: #f44336;
    color: rgb(13, 2, 2);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
label {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0px auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: rgb(255, 255, 255);
    text-align: center; 
}
input::placeholder {
    color: #016044;
    opacity: 1;
}
textarea {
    resize: vertical;
    min-height: 60px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button.submit:hover {
    background-color: #2f7032;
}
button.reset:hover {
    background-color: #912525;
}

.gender-box {
    display: flex;       
    gap: 20px;             
       justify-content: flex-start; 
    align-items: center;   
}

.gender-box input[type="radio"] {
    transform: scale(1.4);   
    margin-right: 5px;      
}


select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
:checked {
    accent-color: #4CAF50;
    
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-box label {
    display: flex;
    align-items: center;
    gap: 5px;
}
.skills-box input[type="checkbox"] {
    transform: scale(1.2);
}